<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<th:block th:include="/_menu"></th:block>
<h2>This is our registration page</h2>
<div th:if="${registrationError != null}" th:utext="${registrationError}"></div><br>

<form action="#" th:action="@{/user/new}" th:object="${userForm}" method="post">
  <label for="username">Name</label>
  <input type="text" th:field="*{username}" id="username" placeholder="Name">
  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></br>

  <label for="initialPassword">Password</label>
  <input type="text" th:field="*{initialPassword}" id="initialPassword" placeholder="Password">
  <span th:if="${#fields.hasErrors('initialPassword')}" th:errors="*{initialPassword}"></span></br>

  <label for="firstName">First Name</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
  <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></br>

  <label for="lastName">Last Name</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></br>

  <input type="submit" value="Add User">
</form>
</body>
</html>